<header>
  <div class="title">
    <h2>これってちくちく言葉？</h2>
    <p>自分の発言がちくちく言葉かどうかを教えてくれます</p>
    <p>やさしい言葉を使っていきましょう</p>
  </div>
</header>
<main>
  <div class="form">
    <form action="/posts/index">
        <input type="text" id="words" >
        <input type="submit" class="button" value="検索">
    </form>
  </div>
</main>