$cWhite: white;
$cBlack: black;


#container{
    text-align: center;
}

.btn{
    background-color: $cWhite; 
    color: $cBlack;
    border: 1px solid $cBlack;
    padding: 10px 40px;
    margin: 50px 0;
    font-weight: 600; /*文字の太さ*/
    cursor: pointer;
    transition: all 0.3s; /*動きを定義する　第１引数：定義したい要素を指定*/

    /*animation*/
    &:hover{
        background-color: $cBlack;
        color: white;
}

}


